/* You can add global styles to this file, and also import other style files */

.bg-stdark {
    background-color: #262728;
}

.bg-stgrey {
    background-color: #424344;
}

.text-stgrey {
    color: #95999b;
}

body {
    background-color: #161616;
}

.task-form i {
    font-size: 1rem;
}